# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.md/

# Project files
*.pdf
# Gradio temporary files
gradio_cached_examples/
flagged/
